@using GitQuery.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<link href='~/Mist/light/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
<!-- Bootstrap core CSS -->
<link href="~/Mist/light/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Mist/light/css/responsive.css" rel="stylesheet" />
<!-- Color Scheme -->
<link href="~/Mist/light/css/color.css" rel="stylesheet" />

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-6">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <div class="text-right">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!-- Scripts -->
<script type="text/javascript" src="~/Mist/light/js/jquery.min.js"></script>
<script type="text/javascript" src="~/Mist/light/js/bootstrap.min.js"></script>